[mysqld]
performance_schema=OFF
skip_name_resolve=ON
max_connections=40
table_open_cache=400
table_definition_cache=400
thread_cache_size=8
tmp_table_size=16M
max_heap_table_size=16M
innodb_buffer_pool_size=256M
innodb_log_buffer_size=8M
innodb_redo_log_capacity=128M
innodb_flush_method=O_DIRECT
